/12m_continuum_commonbeam_circular_mosaic.fits
/12m_continuum_commonbeam_circular_reimaged_alpha_mosaic.fits
/12m_continuum_commonbeam_circular_reimaged_alphaerror_mosaic.fits
/12m_continuum_commonbeam_circular_reimaged_manual_alpha_mosaic.fits
/12m_continuum_commonbeam_circular_reimaged_mosaic.fits
/12m_continuum_mosaic.fits
/12m_continuum_reimaged_mosaic-1.fits
/12m_continuum_reimaged_mosaic.fits
/CMZoom_continuum_pbcor.fits
/H40a_CubeMosaic_downsampled_x3_x1_5.fits
/MeerKAT_Galactic_Centre_1284MHz-StokesI.fits
/MeerKAT_radio_bubbles.fits
/MeerKat_reproj.fits
/SiO_Masers
/SiO_maser_reg.reg
/SiO_masers.reg
/c20c1_b6c8_cont_selfcaled.image.fits
/c20c4_b6c8_cont_selfcaled.image.fits
/cmz_sfr
/dataverse_files
/dbcat
/download-files.sh
/download-files_1.sh
/download-files_Xing_Lu_3mm_high_res.sh
/download-files_Xing_Lu_3mm_low_res.sh
/feather_7m12m_continuum_commonbeam_circular_reimaged_mosaic.fits
/figures
/filter1.png
/filtered.png
/member.uid___A001_X1382_X26.SgrB1off_sci.spw23_25_27_29.cont.I.alpha.error.fits
/member.uid___A001_X1382_X26.SgrB1off_sci.spw23_25_27_29.cont.I.alpha.fits
/member.uid___A001_X1382_X26.SgrB1off_sci.spw23_25_27_29.cont.I.tt0.pbcor.fits
/member.uid___A001_X1382_X28.SgrB1off_sci.spw23_25_27_29.cont.I.alpha.error.fits
/member.uid___A001_X1382_X28.SgrB1off_sci.spw23_25_27_29.cont.I.alpha.fits
/member.uid___A001_X1382_X28.SgrB1off_sci.spw23_25_27_29.cont.I.tt0.pbcor.fits
/member.uid___A001_X1382_X2b.the_20_kms_cloud_sci.spw23_25_27_29.cont.I.alpha.error.fits
/member.uid___A001_X1382_X2b.the_20_kms_cloud_sci.spw23_25_27_29.cont.I.alpha.fits
/member.uid___A001_X1382_X2b.the_20_kms_cloud_sci.spw23_25_27_29.cont.I.tt0.pbcor.fits
/member.uid___A001_X1382_X2d.the_20_kms_cloud_sci.spw25_27_29_31.cont.I.alpha.error.fits
/member.uid___A001_X1382_X2d.the_20_kms_cloud_sci.spw25_27_29_31.cont.I.alpha.fits
/member.uid___A001_X1382_X2d.the_20_kms_cloud_sci.spw25_27_29_31.cont.I.pb.tt0.fits
/member.uid___A001_X1382_X2d.the_20_kms_cloud_sci.spw25_27_29_31.cont.I.tt0.pbcor.fits
/member.uid___A001_X88e_X1e6.G0.38p0.04_sci.spw0_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16_17_18_19.cont.I.manual.image.pbcor.fits
/original.png
/original1.png
/sgrc_b6c8_cont_selfcaled.image.fits